<div class="container-fluid">
    <div class="row tall1"></div>
    <div class="row">
        <div class="span2">
            <ul class="nav nav-list">
                <li>
                    <a ng-href="#/answer">答题</a>
                </li>
                <li>
                    <a ng-href="#/recentAnswerRecords">最近答题记录</a>
                </li>
                <li class="active">
                    <a ng-href="#/recentCreditRecords">历史积分记录</a>
                </li>
                <li>
                    <a ng-href="#/todayAnswerRecords">今天记录</a>
                </li>
                <li>
                    <a ng-href="#/deposit">提现记录</a>
                </li>
                <li>
                    <a ng-href="#/answerProfiles">个人设置</a>
                </li>
                <li ng-show="isShow">
                    <a ng-href="#/subUser">用户管理</a>
                </li>
                <li ng-show="isShow">
                    <a ng-href="#/subAbnormal">异常情况</a>
                </li>
                <li>
                    <a ng-href="#/home">回到主页</a>
                </li>
            </ul>
        </div>
        <div class="span11 offset1">
            <!--显示 用户历史Synopsis  主要包括历史 月和天份的积分信息[月份,天,总题数,总积分,错误题数,错误积分,超时题数,超时积分,不确定题数,汇总积分,报酬(元),支付状态]-->
            <div class="row">
                <p style="float:right;line-height:25px;font-size: 12px;margin-right:100px">共{{recordSize}}条记录</p>
            </div>
            <div class="row tall1">
            </div>
            <div class="row">
            <table class="table table-condense table-hover" style="text-align:center">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>总题数</th>
                        <th>总积分</th>
                        <th>错误题数</th>
                        <th>错误积分</th>
                        <th>超时题数</th>
                        <th>超时积分</th>
                        <th>不确定题数</th>
                        <th>汇总积分</th>
                        <!--<th>报酬(元)</th>
                        <th>支付状态</th>-->
                    </tr>
                </thead>
                <tbody ng-repeat="record in creditRecords">
                    <tr>
                        <td>{{record.QuestionDate| date:'yyyy年MM月dd日'}}</td>
                        <td>{{record.QuestionCount}}</td>
                        <td>{{record.QuestionCredits}}</td>
                        <td>{{record.ReportErrorCount}}</td>
                        <td>{{record.ReportErrorCredits}}</td>
                        <td>{{record.TimeOutCount}}</td>
                        <td>{{record.TimeOutCredits}}</td>
                        <td>{{record.NotSureCount}}</td>
                        <td>{{record.sumCredit}}</td>
                        <!--<td>{{record.payAmount}}</td>
                        <td>已支付</td>-->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>-</th>
                        <th>{{synopsis.sumQuestionCount}}</th>
                        <th>{{synopsis.sumQuestionCredits}}</th>
                        <th>{{synopsis.sumReportErrorCount}}</th>
                        <th>{{synopsis.sumReportErrorCredits}}</th>
                        <th>{{synopsis.sumTimeOutCount}}</th>
                        <th>{{synopsis.sumTimeOutCredits}}</th>
                        <th>{{synopsis.sumNotSureCount}}</th>
                        <th>{{synopsis.sumCredit}}</th>
                        <!--<th>{{synopsis.payAmount}}</th>
                        <th>-</th>-->
                    </tr>
                </tfoot>
            </table>
            </div>
            <div class="row">
                <div class="pagination">
                    <ul>
                        <li ng-show="page.pre"><a href="javascript:void(0)" ng-click="pageTo(-1)">Prev</a></li>
                        <li ng-show="page.one" ng-class="{active:page.oneS}"><a href="javascript:void(0)" ng-click="pageTo(page.one)">{{page.one}}</a></li>
                        <li ng-show="page.two" ng-class="{active:page.twoS}"><a href="javascript:void(0)" ng-click="pageTo(page.two)">{{page.two}}</a></li>
                        <li ng-show="page.thr" ng-class="{active:page.thrS}"><a href="javascript:void(0)" ng-click="pageTo(page.thr)">{{page.thr}}</a></li>
                        <li ng-show="page.fou" ng-class="{active:page.fouS}"><a href="javascript:void(0)" ng-click="pageTo(page.fou)">{{page.fou}}</a></li>
                        <li ng-show="page.fiv" ng-class="{active:page.fivS}"><a href="javascript:void(0)" ng-click="pageTo(page.fiv)">{{page.fiv}}</a></li>
                        <li ng-show="page.nex"><a href="javascript:void(0)"  ng-click="pageTo(0)">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>